body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f0f2f5;
}

.contenedor{
    width:400px;
    margin:100px auto;
    text-align:center;
    padding:30px;
    background:white;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

button{
    padding:12px 20px;
    font-size:16px;
    cursor:pointer;
}